* {
  --main: #fff;
  --textR: #ff5c5c;
  --textB: #2e3c40;
  --lightBlueL: #ecf1f5;
  --lightBlueD: #c2cfd7;
  --darkBlueL: #2d3b3f;
  --darkBlueD: #232f32;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  html {
	width: 100%;
	height: 100%;
  }
body {
  font-family: 'Montserrat', sans-serif, 'Roboto', sans-serif;
  color: var(--textB);
  padding: 0;
  margin: 0;
  position: relative;
}
a {
  font-family: 'Montserrat', sans-serif 'Roboto', sans-serif;
  color: var(--lightBlueL);
  text-decoration: none;
  font-weight: bolder;
}
a:hover {
  color: var(--textR);
}
ul {
  list-style: none;
}
.container {
  max-width: 960px;
  min-width: 360px;
  margin: 0 auto;
  padding: 16px;
}
p {
  font-size: 16px;
  line-height: 1.8;
  color: var(--darkBlueD);
}
h1,
h2 {
  font-size: 64px;
  color: var(--textR);
}
h3 {
  font-size: 32px;
}
/*========NAV-START==========*/
nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--darkBlueL);
  animation: anim2 1.5s ease-in-out 0.3s forwards;
  z-index: 1001;
}
nav.active {
  animation: anim 1.5s ease-in-out forwards;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 10px;
  margin: 0px;
}
nav .logo .fas {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}
.logo .fas:hover {
  color: var(--textR);
}
.logo img {
  width: 75px;
}
nav .nav-items {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  position: relative;
  left: 70%;
  width: fit-content;
  font-size: 64px;
}
/*========NAV-END==========*/
/*========HEADER-START==========*/
header {
  position: sticky;
  top: 0px;
  background-color: var(--lightBlueL);
  z-index: 1000;
}

/*========HEADER-END==========*/
/*========HOME-START==========*/
#home {
  height: 100vh;
  background-color: var(--lightBlueL);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
}
#home .container .text-control {
  font-size: 32px;
  width: 67%;
  color: var(--textR);
}
#home .container .text-control p {
  width: 75%;
  position: relative;
  left: 10%;
}

/*========HOME-END==========*/
/*========SERVICES-START==========*/
#services {
  height: 180vh;
}
#services .container {
  margin: auto;
  height: 90%;
}

#services .container .mainSec {
  position: relative;
  margin: auto;
  width: 85%;
  height: 90%;
}
#services .container .mainSec .sec {
  margin: auto;
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#services .container .mainSec .uppperSec {
  margin-right: 0;
  /* background-color: rebeccapurple; */
}
#services .container .mainSec .lowerSec {
  margin-left: 0;
  /* background-color: red; */
}
#services .container .mainSec .lowerSec::before {
  content: '';
  bottom: 0;
  right: 0%;
  width: 50%;
  height: 45%;
  background-color: var(--lightBlueD);
  position: absolute;
  z-index: -1;
}
#services .container .mainSec .uppperSec::before {
  content: '';
  top: 0;
  left: 0%;
  width: 50%;
  height: 45%;
  background-color: var(--lightBlueD);
  position: absolute;
  z-index: -1;
}
/*========SERVICES-END==========*/
/*========PORTFOLIO-START==========*/
#portfolio {
  margin: 25px 0;
}
#portfolio img {
  /* border-radius: 5px; */
  width: 450px;
}
#portfolio .grid-container {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: fit-content;
}
#portfolio .grid-container .grid-item {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
  border: solid 2px rgba(0, 0, 0, 0.4);
  margin: 5px;
}
#portfolio .grid-container .grid-item p {
  position: absolute;
  bottom: -90px;
  background-color: rgba(128, 128, 128, 0.4);
  width: 89%;
  padding: 25px;
  transition: 0.3s;
}
#portfolio .grid-container .grid-item:hover p {
  bottom: -15px;
}
/*========PORTFOLIO-END==========*/
/*========ABOUT-START==========*/
#about {
  height: 150vh;
}
#about .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
#about .sec {
  display: flex;
  width: 67%;
  align-items: flex-start;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
#about .sec.lowerSec {
  align-items: center;
  text-align: center;
}
#about .sec.uppperSec {
  margin-left: 0;
}
#about .sec.uppperSec::before {
  content: '';
  top: 0;
  right: 0%;
  width: 45%;
  height: 45%;
  background-color: var(--lightBlueD);
  position: absolute;
  z-index: -1;
}
#about .sec.lowerSec p {
  width: 80%;
}
/*========ABOUT-END==========*/
/*========CONTACT-START==========*/
#contact {
  /* min-height: 50vh; */
  background-color: var(--darkBlueL);
}
#contact h2 {
  font-size: 32px;
  position: relative;
  left: 5%;
  width: fit-content;
}
#contact h2.white,
#contact p {
  color: #fff;
}
/*========CONTACT-END==========*/
/*========FOOTER-START==========*/
footer {
  background-color: var(--darkBlueD);
}
footer .container {
  padding: 14px;
  text-align: center;
}
footer p {
  color: #fff;
}
/*========FOOTER-END==========*/
/*========ANIMATION-START==========*/
@keyframes anim {
  0% {
    top: -110%;
    background-color: var(--textR);
  }
  100% {
    top: 0%;
    background-color: var(--darkBlueD);
  }
}
@keyframes anim2 {
  0% {
    top: 0%;
    background-color: var(--darkBlueD);
  }
  100% {
    top: -110%;
    background-color: var(--textR);
  }
}
/*========ANIMATION-END==========*/

@media (max-width: 968px) {
  nav .nav-items {
    left: 60%;
  }
}
@media (max-width: 768px) {
  h1,
  h2 {
    font-size: 32px;
    color: var(--textR);
  }
  h3 {
    font-size: 22px;
  }
  nav .nav-items {
    left: 10px;
  }
  #home .container .text-control {
    width: fit-content;
  }
  .mainSec {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
  }
  #services .container .mainSec .sec ,#about .uppperSec.sec{
	  margin: 0;
}
.lowerSec::before,
.uppperSec::before {
    display: none;
  }
  #portfolio img {
    width: 300px;
  }
  #about {
    height: fit-content;
}
#about .uppperSec.sec{
	width: fit-content;
	margin: 10px 0;
}
  #about .sec.lowerSec p {
	  width: 100%;
  }
  #contact h2 {
    font-size: 22px;
    left: 0;
    width: fit-content;
}
}
@media (max-width: 328px) {
	.Container {
	  width: 260px;
	}
	body {
	  font-size: smaller;
	}
  }
  @media (max-width: 368px) and (min-width: 328px) {
	.Container {
	  width: 320px;
	}
	body {
	  font-size: smaller;
	}
  }
  @media (max-width: 486px) and (min-width: 368px) {
	.Container {
	  width: 360px;
	}
	body {
	  font-size: smaller;
	}
  }
  /* smaller */
  @media (max-width: 768px) and (min-width: 480px) {
	.Container {
	  width: 460px;
	}
	body {
	  font-size: small;
	}
  }
  /* Small */
  @media (min-width: 768px) {
	.Container {
	  width: 750px;
	}
	body {
	  font-size: medium;
	}
  }
  /* Medium */
  @media (min-width: 992px) {
	.Container {
	  width: 970px;
	}
	body {
	  font-size: large;
	}
  }
  /* Large */
  @media (min-width: 1200px) {
	.Container {
	  width: 1170px;
	}
	body {
	  font-size: larger;
	}
  }